@font-face{
	font-family: BNazanin;
    src: url('/media/fonts/BNazanin.ttf');
}
body{
    font-family: BNazanin;
}


#mainContainer{
    margin-right: auto;
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.modal-footer button, .modal-footer a {
    float: left;
}