h3{
    font-family: Tahoma;
}
form{
    padding-top: 30px;
}
.form-part{
    margin-top: 3px;
    background-color: white;
}

.row div{
    padding: 5px;
}

/* FIXME: temporary */
.error {
    background: red;
}
.success {
    background: green;
}