@media print {
    .no-printable, .no-printable * {
        display: none !important;
    }
}
@font-face{
	font-family: BNazanin;
    src: url('/media/fonts/BNazanin.ttf');
}

body {
    direction: rtl;
    font-family: BNazanin;
    margin: 5px;
}