@font-face{
	font-family: Droid Arabic;
    src: url('/media/fonts/DroidNaskh-Regular.ttf');
}
@font-face{
	font-family: BNazanin;
    src: url('/media/fonts/BNazanin.ttf');
}
h3{
	font-family: BNazanin;
}
form{
    padding-top: 30px;
}
.form-part{
    margin-top: 3px;
    background-color: white;
}

.row div{
    padding: 5px;
}

#s2id_operationNameSelect {
	padding : 0;
}
