.factor_table{
    border-radius: 10px ;
    border: 2px solid black;
    padding: 10px ;
	background: white;
	margin-left: auto;
	margin-right: auto;
	width: 18cm ;
}

.factor_table td {
    border: 1px solid;
    padding: 5px;
}

.factor_buttons {
	margin-left: auto;
	margin-right: auto;
	width: 18cm;
    text-align: left;
}
