@font-face {
    font-family: BNazanin;
    src: url('fonts/BNazanin.ttf');
}

body {
    direction: rtl;
    margin: 0;
}

body, button, label, div , input{
    font-family: BNazanin;
}

a, button, li {
    cursor: pointer;
}

.container {
    margin-top: 10% ;
    padding-top: 100px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto ;
    width: 40% ;
}
.username {
    border: none;
    margin-right : 5px ;
    border-radius: 5px;
}
.password {
    border:none;
}
.date_time {
    float: left;
    direction: rtl;
}

.time_label {
    border:solid ;
    border-width: 1px;
    border-color: teal;
    margin: 2px;
    border-radius: 5px;
    padding: 2px;
}
.date_label {
    border: solid ;
    border-width: 1px;
    border-color: teal;
    border-radius: 5px;
    margin: 5px ;
    padding: 2px;
}

.login_error {
    color:red ;
    margin-right: 10px;
    margin-bottom: 10px;
}
label[for=id_username] {
    margin-right: 10px ;
    font-size: large;
    color: teal;
}

label[for=id_password] {
    color: teal ;
}

.submit_button {
    margin-top: 10% ;
    border-radius: 5px;
    margin-right: 30%;
    margin-left: 30%;
    width: 40% ;
    font-size: large;
    color:  white ;
    border:none;
}

#header {
    width:inherit;
    padding: 10px ;
    height: auto;
    opacity: 0.5;
}

#header:hover {
    opacity: 1;
}

.exit_button {
    border-radius: 5px;
    border: none;
    color: white ;
    padding: 2px ;
    width: 100px ;
}
.user_label {
    color: teal;
    border: solid ;
    border-color: teal;
    border-width: 1px;
    border-radius: 4px;
    padding: 2px ;
}

.exit_button, .submit_button, body{
    background-color: teal;
}
.container, #header, .paziresh_tab, .list_tab, .bedehkaran_tab, .gozareshat_tab, .main_menu, #paziresh {
    background-color: #F0F5C2;
    color: teal;
}

.exit_button:hover, .submit_button:hover {
    background-color: darkcyan;
}
.paziresh_tab, .list_tab, .bedehkaran_tab, .gozareshat_tab {
    float: right ;
    width : 25% ;
    margin: 0;
    border: none;
    display: inline;
    text-align: center;
}
.paziresh_tab {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bedehkaran_tab {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paziresh_tab:hover, .list_tab:hover, .bedehkaran_tab:hover, .gozareshat_tab:hover {
    background-color: #E0E5B2;
}
.main_menu, #paziresh {
    width: 70% ;
}

#paziresh {
    margin-left : auto ;
    margin-right: auto;
    margin-top: 40% ;
}
.main_menu {
    list-style-type: none;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    padding: 0;
}