{% extends 'base.html' %}

{% block title %}
حسابداری
{% endblock %}

{% block content %}
	<a href="{% url "Radiology.views.accounting_patient" %}" class="btn btn-primary">حسابداری بیماران</a>
	<a href="#" class="btn btn-primary">حسابداری بیمه ها</a>
	<a href="#" class="btn btn-primary">حسابداری بیمه های مکمل</a>
	<a href="#" class="btn btn-primary">حسابداری پزشک های معالج</a>
	<a href="#" class="btn btn-primary">حسابداری تخفیف ها</a>
	<a href="#" class="btn btn-primary">حسابداری پرسنل</a>
	<a href="#" class="btn btn-primary">درآمدها</a>
{% endblock %}
