{% extends 'base.html' %}

{% block title %}
حسابداری پرسنل 
{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/calendar.css"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jalali.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar-setup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar-fa.js"></script>
{% endblock %}

{% block content %}
	<label class="btn btn-info center-block">{{ personnel.first_name}} {{personnel.last_name}}</label>
	<a href="{% url "Radiology.views.choose_personnel" %}?next={% url "Radiology.views.accounting_personnel" %}" class="btn btn-danger center-block">
	انتخاب پرسنل دیگر
	</a>
    <form action="" method="post">
        <div class="form-group">
            <div style="display: none;">{{ form.start }}</div>
            <button type="button" id="start_button" class="btn btn-default">تاریخ شروع</button>
            <script type="text/javascript">
                Calendar.setup({
                    inputField: "id_start",
                    displayArea: "start_button",
                    ifFormat: "%Y-%m-%d",
                    dateType: "jalali",
                    ifDateType: "gregorian",
                    weekNumbers: false
                });
            </script>
        </div>
        <div class="form-group">
            <div style="display: none;">{{ form.end }}</div>
            <button type="button" id="end_button" class="btn btn-default">تاریخ پایان</button>
            <script type="text/javascript">
                Calendar.setup({
                    inputField: "id_end",
                    displayArea: "end_button",
                    ifFormat: "%Y-%m-%d",
                    dateType: "jalali",
                    ifDateType: "gregorian",
                    weekNumbers: false
                });
            </script>
        </div>
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="ثبت"/>
    </form>
	{% if factors%}
	<div class="alert alert-info">
		<div>
		قیمت کل: {{total_patient_payable|floatformat:0}}
		</div>
		<div>
			تعداد بیماران: {{patient_count}}
		</div>
		<div>
			تعداد فاکتورها: {{factor_count}}
		</div>
		<div>
			تاریخ شروع: {{start_date}}
		</div>
		<div>
			تاریخ پایان: {{end_date}}
		</div>
	</div>
	{% for o in operations%}
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{o.id}}">
				{{o.type}} {{o.name}}
			</a>
		</div>
		<div id="collapseOne{{o.id}}" class="panel-collapse collapse">	
			<div class="panel-body">	
				<table class="table table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th>تاریخ</th>
							<th>خدمت</th>
							<th>پرداختی بیمار</th>
							<th>نام پرسنل</th>
							<th>نام بیمار</th>
						</tr>
					</thead>
					{% for factor in factors %}
					{% ifequal factor.operation_codeography o.codeography%}
					<tr>
						<td> {{factor.factor_date}} </td>
						<td> {{factor.operation_type}}-{{factor.operation_name}} </td>
						<td> {{factor.patient_payable|floatformat:0}}</td>
						<td> {{personnel.first_name}} {{personnel.last_name}}</td>
						<td> {{factor.patient_first_name}} {{factor.patient_last_name}}</td>
					</tr>
					{% endifequal %}
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	{% endfor %}

	{% endif %}
{% endblock %}

