{% extends 'base.html' %}

{% block title %}
حسابداری بیماران
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/calendar.css"/>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jalali.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar-setup.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calendar-fa.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/accounting.js"></script>
{% endblock %}

{% block content %}
	<a href="{% url "Radiology.views.choose_patient" %}"><label class="label label-info">{{ patient.first_name }} {{ patient.last_name }}</label></a>
    <form action="" method="post">
        <div class="form-group">
            <div style="display: none;">{{ form.start }}</div>
            <button type="button" id="start_button" class="btn btn-default">تاریخ شروع</button>
            <script type="text/javascript">
                Calendar.setup({
                    inputField: "id_start",
                    displayArea: "start_button",
                    ifFormat: "%Y-%m-%d",
                    dateType: "jalali",
                    ifDateType: "gregorian",
                    weekNumbers: false
                });
            </script>
        </div>
        <div class="form-group">
            <div style="display: none;">{{ form.end }}</div>
            <button type="button" id="end_button" class="btn btn-default">تاریخ پایان</button>
            <script type="text/javascript">
                Calendar.setup({
                    inputField: "id_end",
                    displayArea: "end_button",
                    ifFormat: "%Y-%m-%d",
                    dateType: "jalali",
                    ifDateType: "gregorian",
                    weekNumbers: false
                });
            </script>
        </div>
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="ثبت"/>
    </form>
	
	{% if factors%}
		<div class="panel panel-default">
		<div class="panel panel-heading">
			اطلاعات کلی فاکتورها
		</div>
	<table class="table table-bordered table-condensed table-hover">
		<thead>
		<tr>
			<td>تعداد فاکتور</td>
			<td>مبلغ کل</td>
			<td>مبلغ پرداختی بیمار</td>
			<td>مبلغ بدهی بیمار</td>
			<td>تاریخ شروع فاکتورها</td>
			<td>تاریخ پایان فاکتورها</td>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ factor_count }}</td>
				<td> {{ total_patient_payable|floatformat:0 }}</td>
				<td> {{ total_paid|floatformat:0 }}</td>
				<td> {{ total_debt|floatformat:0 }}</td>
				<td> {{ start_date }}</td>
				<td> {{ end_date }}</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="panel panel-default">
		<div class="panel panel-heading">
			اطلاعات جزیی فاکتورها
		</div>
	<table id="factors_table" class="table table-bordered table-condensed table-hover">
		<thead>
		<tr>
			<td><a href="#" class="delete label label-danger">#</a></td>
			<td><a href="#" class="delete label label-danger">تاریخ</a></td>
			<td><a href="#" class="delete label label-danger">مبلغ قابل پرداخت بیمار</a></td>
			<td><a href="#" class="delete label label-danger">پرداختی بیمار</a></td>
			<td><a href="#" class="delete label label-danger">بدهی بیمار</a></td>
			<td><a href="#" class="delete label label-danger">نوع خدمت</a></td>
			<td><a href="#" class="delete label label-danger">کدگرافی خدمت</a></td>
			<td><a href="#" class="delete label label-danger">نام بیمار</a></td>
			<td><a href="#" class="delete label label-danger">کد ملی بیمار</a></td>
		</tr>
		</thead>
		<tbody>
		{% for factor in factors %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td> {{factor.factor_date}} </td>
			<td> {{ factor.patient_payable|floatformat:0 }}</td>
			<td> {{ factor.patient_paid_amount|floatformat:0 }}</td>
			<td> {{ factor.patient_debt_amount|floatformat:0 }}</td>
			<td> {{ factor.operation_type }}</td>
			<td> {{ factor.operation_codeography }}</td>
			<td> {{ factor.patient_first_name}} {{ factor.patient_last_name }}</td>
			<td> {{factor.patient_national_code }} </td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	<button id="factorsPrint">چاپ گزارش</button>
	
	{% endif %}
{% endblock %}
