<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
    {% load staticfiles %}
		<!--<link rel="stylesheet" href="{{ MEDIA_URL }}css/semantic.css"/> -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/styles.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<meta name="author" content="Navid" />
		<!-- Date: 2014-01-24 -->
		<script type="text/javascript" src="{{MEDIA_URL}}javascript/jquery.min.js"></script>
		{% block extrascripts %}{% endblock %}
	</head>
	<body>
        <div id="header">
            {% block header %}
                سینبسشمینبت
            {% endblock %}
        </div>
		<div id="mainContent">
		{% block content %}{% endblock %}
		</div>
	</body>
</html>

