<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ MEDIA_URL }}ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/bootstrap-rtl.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}css/base.css" rel="stylesheet">
    {% block extracss %}{% endblock %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_csrf_fix.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
    {% block extrajs %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ MEDIA_URL }}js/html5shiv.js"></script>
      <script src="{{ MEDIA_URL }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if user.is_anonymous %}
                <a class="navbar-brand" href="{% url 'Radiology.views.login_view' %}">ورود</a>
            {% else %}
                <a class="navbar-brand" href="{% url 'Radiology.views.logout_view' %}">فرداد جلیلی</a>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                {% if user.usertype.type == USER_TYPES.RECEPTOR %}
                <li class="active"><a href="#">پذیرش</a></li>
                <li><a href="#">حساب‌داری</a></li>
                {% elif user.usertype.type == USER_TYPES.OPERATOR %}
                <li class="active"><a href="#">لیست بیماران</a></li>
                <li><a href="#">ثبت ورود و خروج اپراتور</a></li>
                {% endif %}
                {% if patient %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">بیمار:
                            {{ patient.first_name }} {{ patient.last_name }}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.usertype.type == USER_TYPES.RECEPTOR %}
                            <li><a href="#">پرداخت بدهی</a></li>
                            {% elif user.usertype.type == USER_TYPES.OPERATOR %}
                                {% if user.usertype.operation == MRI_OPERATION %}
                            <li><a href="#">دریافت پیشینه‌ی پزشکی</a></li>
                                 {% endif %}
                            <li><a href="#">ثبت پاسخ</a></li>
                            {% endif %}
                            <li><a href="{% url "Radiology.views.session_clear_patient" %}">خروج بیمار</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container" id='mainContainer'>
    {% block content %}{% endblock %}
</div> <!-- /container -->


</body>
</html>