{% extends 'base.html' %}


{% block title %}
ورود بیمار
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/choose_patient.js"></script>
{% endblock %}

{% block content %}
	<form class="form-signin" role="form" method="post" action="">
          {% csrf_token %}
        <h2 class="form-signin-heading">لطفا اطلاعات بیمار را وارد کنید</h2>
        <label for="logPatientInFirstNameInput">نام بیمار</label>
        <input type="text" name="first_name" id="logPatientInFirstNameInput" class="form-control" required autofocus/>
        
        
        <label for="logPatientInLastNameInput">نام خانوادگی بیمار</label>
        <input type="text" name="last_name" id="logPatientInLastNameInput" class="form-control" required autofocus/>
        
        
        <label for="logPatientInNationalCodeInput">کد ملی بیمار</label>
        <input type="text" name="national_code" id="logPatientInNationalCodeInput" class="form-control" required autofocus/>
        
        <button id="logPatientInSubmitButton"class="btn btn-lg btn-primary" type="submit" disabled="disabled">ورود بیمار</button>
        <a href="{% url 'Radiology.views.accounting_page' %}" id="return" class="btn btn-default">بازگشت</a>
      </form>
{% endblock %}
