{% extends 'base.html' %}

{% block title %}
ثبت پزشک
{% endblock %}

{% block extracss %}
<link href="{{ MEDIA_URL }}css/monshi_signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
      <form class="form-signin" role="form" method="post" action="">
          {% csrf_token %}
        <h2 class="form-signin-heading">لطفا نام پزشک را انتخاب کنید</h2>
        <select name="doctor_id" class="form-control" placeholder="نام کاربری" required autofocus>
        	{%for d in doctors%}
        	<option value="{{d.id}}">{{d.first_name}} {{d.last_name}}</option>
        	{%endfor%}
        </select>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">انتخاب</button>
      </form>
{% endblock %}