{% extends 'base.html' %}

{% block title %}
ویرایش اطلاعات بیمه تکمیلی 
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/edit_complementary.js"></script>
{% endblock %}

{% block content %}
	<label class="btn btn-info center-block">{{ complementary.type}}</label>
	<a id="chooseLink" href="{% url "Radiology.views.choose_complementary" %}?next={% url "Radiology.views.edit_complementary" %}" class="btn btn-danger center-block">
	انتخاب یک بیمه تکمیلی دیگر
	</a>
	<form action="{% url 'Radiology.views.ajax_edit_complementary' %}"  id="editComplementaryForm" method="post">
	{% csrf_token %}
		<div class="form-group">
			<label for="editComplementaryIdInput">شماره</label>
			<input type="text" name="id" class="form-control"
			 	id="editComplementaryIdInput" readonly="readonly" value="{{complementary.id}}"/>
		</div>
		<div class="form-group">
			<label for="editComplementaryTypeInput">نوع</label>
			<input type="text" name="type" class="form-control"
			 	id="editInsuranceTypeInput" value="{{complementary.type}}"/>
		</div>
	</form>
    <button type="button" class="btn btn-primary" id="editComplementarySubmit">ویرایش اطلاعات بیمه تکمیلی</button>


{% endblock %}

