{% extends 'base.html' %}

{% block title %}
ویرایش اطلاعات بیمار
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/edit_patient.js"></script>
{% endblock %}

{% block content %}
	<label class="btn btn-info center-block">{{ patient.first_name }} {{ patient.last_name}}</label>
	<a id="chooseLink" href="{% url "Radiology.views.choose_patient" %}?next={% url "Radiology.views.edit_patient" %}" class="btn btn-danger center-block">
	انتخاب یک بیمار دیگر
	</a>
	<form action="{% url 'Radiology.views.ajax_edit_patient' %}"  id="editPatientForm" method="post">
	{% csrf_token %}
		<div class="form-group">
			<label for="editPatientIdInput">شماره بیمار</label>
			<input type="text" name="id" class="form-control"
			 	id="editPatientIdInput" readonly="readonly" value="{{patient.id}}"/>
		</div>
		<div class="form-group">
			<label for="editPatientFirstNameInput">نام</label>
			<input type="text" name="first_name" class="form-control"
			 	id="editPatientFirstNameInput" value="{{patient.first_name}}"/>
		</div>
		<div class="form-group">
			<label for="editPatientLastNameInput">نام خانوادگی</label>
			<input type="text" name="last_name" class="form-control"
			 	id="editPatientLastNameInput" value="{{patient.last_name}}"/>
		</div>
		<div class="form-group">
			<label for="editPatientNationalCodeInput">کد ملی</label>
			<input type="text" name="national_code" class="form-control"
			 	id="editPatientNationalCodeInput" value="{{patient.national_code}}"/>
		</div>
	</form>
    <button type="button" class="btn btn-primary" id="editPatientSubmit">ویرایش اطلاعات بیمار</button>


{% endblock %}

