{% extends 'base.html' %}

{% load templatetags %}

{% block extracss %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/fill_medical_history.css"/>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/fill_medical_history.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="form-signin-heading">لطفااطلاعات بیمار را وارد کنید</h2>
        <form class="form-signin" role="form" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_history">{{ form.history.label }}</label>
                {{ form.history }}
            </div>
            <div class="form-group">
                <label for="id_comment">{{ form.comment.label }}</label>
                {{ form.comment }}
            </div>
            <div class="form-group">
                <label for="id_special_disease">{{ form.special_disease.label }}</label>
                {{ form.special_disease }}
            </div>
            <div class="form-group">
            <label>شرایط پزشکی</label>
            {% for f in form %}
            {% if f.field.widget|klass == "CheckboxInput" %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="btn-group" data-toggle="buttons">
            {% endif %}
                <label class="btn onethird btn-default">
                    {{ f }} {{ f.label }}
                </label>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">ثبت پیشینه پزشکی</button>
        </form>
    </div>
</div>
{% endblock %}