<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>ورود دستیار</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap-rtl.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/flow_style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../dist/js/html5shiv.js"></script>
      <script src="../../dist/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container bg-primary" id='mainContainer'>

		<div class='' id='taskbar'>
			<div class='pull-left'>
				<div ></div>
			</div>
      	</div>
      	
      	<div id='tabs-container'>
      		<ul class='nav nav-tabs'>
      			<li><a>پذیرش بیمار</a></li>
      			<li><a>لیست بیماران</a></li>
      			<li><a>گزارشات بیمه</a></li>
      			<li><a>لیست بدهکاران</a></li>
      			<li><a>پرسنل</a></li>
      		</ul>
      	</div>
		<div id='pageContainer'>
			
		</div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
