{% extends 'base.html' %}
{% block title %}
    خانه
{% endblock %}
{%block extrascripts%}
	<script type="text/javascript" src="{{MEDIA_URL}}javascript/scripts.js" ></script>
{%endblock%}
{% block content %}

    <div id="paziresh">
        <div id="paziresh_moshakhasat">
        	<label class="paziresh_title">
        	مشخصاتِ بیمار
       		</label>   		
       		<div id="paziresh_moshakhasat_box">
       			{%if patient_form.errors%}
       				{%for field in patient_form%}
       					<div class="form_error">
       						{{field.errors}}
       					</div>
       				{%endfor%}
       					<div class="form_error">
       						{{patient_form.non_field_errors}}
       					</div>
       			{%endif%}
       			<form action="" method="post">
       			<table>
       				<tr>
       					<th>
       						<label for="id_patient_id">
شماره‌ی بیمار:							
							</label>
       					</th>
						<td>
							{%if has_patient%}
							<label class="patient_label">{{patient.patient_id}}</label>
							{%else%}
							{{patient_form.patient_id}}
							{%endif%}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_patient_first_name">
نامِ بیمار:						
							</label>
       					</th>
						<td>
							{%if has_patient%}
							<label class="patient_label">{{patient.first_name}}</label>
							{%else%}
							{{patient_form.patient_first_name}}
							{%endif%}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_patient_last_name">
نامِ خانوادگیِ بیمار:				
							</label>
       					</th>
						<td>
							{%if has_patient%}
							<label class="patient_label">{{patient.last_name}}</label>
							{%else%}
							{{patient_form.patient_last_name}}
							{%endif%}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_patient_id">
شماره‌ی ملیِ بیمار:							
							</label>
       					</th>
						<td>
							{%if has_patient%}
							<label class="patient_label">{{patient.national_code}}</label>
							{%else%}
							{{patient_form.patient_national_code}}
							{%endif%}
						</td>
       				</tr>
       			</table>
               		
               		{%if has_patient%}
               		{% csrf_token %}
               		<input type="submit" class="submit_button" id="new_patient_button" name="jadid" value="بیمارِ جدید" />
               		{%else%}
               		{% csrf_token %}
               		<input type="submit" class="submit_button" name="sabt" value="ثبت به عنوانِ بیمارِ جدید" /> 
               		<input type="submit" class="submit_button" name="vorood" value="ورودِ بیمار"/>
               		{%endif%}
       			</form>
       		</div>
        </div>
        <div id="paziresh_bime">
        	<label class="paziresh_title">
        	بیمه
       		</label>
       		<br>
       		<div id="paziresh_bime_box">
       			{%if insurance_form.errors%}
       				{%for field in insurance_form%}
       					<div class="form_error">
       						{{field.errors}}
       					</div>
       				{%endfor%}
       					<div class="form_error">
       						{{patient_form.non_field_errors}}
       					</div>
       			{%endif%}
       			<form action="" method="post">
       			<table>
       				<tr>
       					<th>
       						<label for="id_insurance_type">
نوعِ بیمه:
							</label>
       					</th>
						<td>
							{{insurance_form.insurance_type}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_insurance_category">
دسته بیمه:
							</label>
       					</th>
						<td>
							{{insurance_form.insurance_category}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_complementary_insurance">
بیمه تکمیلی:
							</label>
       					</th>
						<td>
							{{insurance_form.complementary_insurance}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_insurance_serial">
سریالِ دفترچه:
							</label>
       					</th>
						<td>
							{{insurance_form.insurance_serial}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_insurance_page_num">
شماره برگه دفترچه:
       						</label>
       						<td>
       							{{insurance_form.insurance_page_num}}
       						</td>
       					</th>
       				</tr>
       			</table>               		
       			</form>
       		</div>		
        </div>
        <div id="paziresh_dastoor">
        	<label class="paziresh_title">
        	 پزشک معالج
       		</label>
       		<div id="paziresh_moalej_box">
       			{%if therapist_form.errors%}
       				{%for field in therapist_form%}
       					<div class="form_error">
       						{{field.errors}}
       					</div>
       				{%endfor%}
       					<div class="form_error">
       						{{therapist_form.non_field_errors}}
       					</div>
       			{%endif%}
       			<form action="" method="post">
       			<table>
       				<tr>
       					<th>
       						<label for="id_therapist_medical_number">
شماره نظام پزشکی:
							</label>
       					</th>
						<td>
							{{therapist_form.therapist_medical_number}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_therapist_first_name">
نام پزشک معالج:
							</label>
       					</th>
						<td>
							{{therapist_form.therapist_first_name}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_therapist_last_name">
نام خانوادگی پزشک معالج:	
						</label>
       					</th>
						<td>
							{{therapist_form.therapist_last_name}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_therapist_visit_date">
تاریخ ویزیت:
							</label>
       					</th>
						<td>
							{{therapist_form.therapist_visit_date}}
						</td>
       				</tr>
       			</table>
               		
               		{%if has_therapist%}
               		{% csrf_token %}
               		<input type="submit" class="submit_button" id="new_therapist_button" name="new_therapist" value="پزشک معالج جدید" />
               		{%else%}
               		{% csrf_token %}
               		<input type="submit" class="submit_button" name="new_therapist_signup" value="ثبت به عنوانِ پزشک معالج جدید" /> 
               		<input type="submit" class="submit_button" name="new_therapist_login" value="ورودِ پزشک معالج"/>
               		{%endif%}
       			</form>
       		</div>
        </div>
		<div id="paziresh_khedmat">
        	<label class="paziresh_title">
        	نوعِ خدمت
       	 	</label>
       		<div id="paziresh_khedmat_box">
       			{%if operation_form.errors%}
       				{%for field in operation_form%}
       					<div class="form_error">
       						{{field.errors}}
       					</div>
       				{%endfor%}
       					<div class="form_error">
       						{{operation_form.non_field_errors}}
       					</div>
       			{%endif%}
       			<form action="" method="post">
       			<table>
       				<tr>
       					<th>
       						<label for="id_operation_type">
نوع خدمت:
							</label>
       					</th>
						<td>
							{{operation_form.operation_type}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_operation_codegraphy">
کدگرافی خدمت:
							</label>
       					</th>
						<td>
							{{operation_form.operation_codegraphy}}
						</td>
       				</tr>
       				<tr>
       					<th>
       						<label for="id_operatoin_need_cloth">
لباس نیاز دارد
							</label>
       					</th>
						<td>
							{{operation_form.operation_need_cloth}}
						</td>
       				</tr>
       			</table>
       			</form>
       		</div>

        </div>
	</div>

{% endblock %}