<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_csrf_fix.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/home.js"></script>

    <title>ثبت بیمار</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ MEDIA_URL }}css/bootstrap-rtl.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ MEDIA_URL }}css/patient_entry.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ MEDIA_URL }}js/html5shiv.js"></script>
      <script src="{{ MEDIA_URL }}js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container" id='mainContainer'>
        {% csrf_token %}
    	<h2>اطلاعات بیمار را وارد نمایید</h2>
    	<form role='form'>
    		<div class='row'>
    			<div class='panel panel-info col-md-5 form-part'>
    				<div class='panel-heading'>
    					<h3 class='panel-title'>
	    					مشخصات بیمار
    					</h3>
    				</div>
	    			<div class='panel-body'>
	    				<div class='form-group'>
	    					<label for='firstNameInput'> نام کاربر </label>
	    					<input type='text' class='form-control' id='firstNameInput'/>
	    				</div>
	    				<div class='form-group'>
	    					<label for='lastNameInput'> نام خانوادگی</label>
	    					<input type='text' class='form-control' id='lastNameInput'/>
	    				</div>	
    				</div>
    				
    			</div>
    			<div class='col-md-5 form-part panel panel-success'>
    				<div class="panel-heading">
    					<h3 class='panel-title'>
    						مشخصات بیمه
    					</h3>
    				</div>
    				<div class='panel-body'>
    					<div class='form-group'>
	    					<label for='insuranceTypeSelect'>نوع بیمه</label>
	    					<select name="type" id='insuranceTypeSelect' class='form-control'>
                                <option value="" selected></option>
	    						{% for t in insurance_types %}
                                <option value="{{ t }}">{{ t }}</option>
                                {% endfor %}
	    					</select>
	    				</div>
	    				<div class='form-group'>
	    					<label for='insuranceCategorySelect'>گونه‌ی بیمه</label>
	    					<select name="category" id="insuranceCategorySelect" class="form-control" disabled>
                            </select>
	    				</div>
    				</div>
	    				
    			</div>
    		</div>
    		<div class='row'>
    			<div class='col-md-5 form-part panel panel-danger'>
    				<div class='panel-heading'>
    					<h3 class='panel-title'>
    						مشخصات پزشک معالج
    					</h3>
    				</div>
    				<div class='panel-body'>
   		    			<div class='form-group'>
	    					<label for='doctorName'> نام دکتر</label>
	    					<select id='doctorName' class='form-control'> </select>
	    				</div>

    				</div>
    			</div>
    			<!--<div class='col-md-6 form-part'>
    				
    			</div>-->
    		</div>
    		<input type='button' class='btn btn-primary btn-lg center-block' value="ثبت اطلاعات">
    	</form>
    	<div class='row'>
    	</div>


    </div> <!-- /container -->


  </body>
</html>
