{% extends 'base.html' %}
{% block title %}
    ورود به سیستم
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

    <div class="container">
        {% if form.errors %}
        <div class="login_error">
         گذرواژه یا نامِ کاربری اشتباه است.
        </div>
        {% endif %}
            <form action="" method="post">
                <table>
                    <tr>
                         <th>
                            <label for="id_username">
                            نامِ کاربری:
                            </label>
                        </th>
                        <td>
                         {{ form.username }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="id_password">
                                گذرواژه:
                            </label>
                        </th>
                        <td>
                            {{ form.password }}
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
                <input type="submit" class="submit_button" value="ورود" />
            </form>
    </div>
{% endblock %}