<html>
<head>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_csrf_fix.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/patient_list.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>شماره‌ی ملی</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="patient_list">
        {% for p in patient_turns %}
        <tr>
        <td>{{ p.patient.first_name }}</td>
        <td>{{ p.patient.last_name }}</td>
        <td>{{ p.patient.national_code }}</td>
        <td><button class="enter" data-id="{{ p.id }}">ثبت ورود</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>