{% extends 'base.html' %}

{% block title %}
    پذیرش
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/reception.js"></script>
{% endblock %}

{% block extracss %}
    <link href="{{ MEDIA_URL }}css/reception.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form role='form' action="" method="post">
        {% csrf_token %}
        <div class='row'>
            <div class='panel panel-info col-md-3 form-part'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>
                        مشخصات بیمار
                    </h3>
                </div>
                <div class='panel-body'>
                    <div class='form-group'>
                        <label for='patientFirstNameInput'>نام</label>
                        <input name="patient_first_name" type='text' class='form-control'
                               id='patientFirstNameInput'/>
                    </div>
                    <div class='form-group'>
                        <label for='patientLastNameInput'> نام خانوادگی</label>
                        <input name="patient_last_name" type='text' class='form-control'
                               id='patientLastNameInput'/>
                    </div>
                    <div class="form-group">
                        <label for="patientNationalCodeInput">شماره‌ی ملی</label>
                        <input name="patient_national_code" type="number" class="form-control"
                               id="patientNationalCodeInput"/>
                    </div>
                </div>

            </div>
            <div class='col-md-3 form-part panel panel-success'>
                <div class="panel-heading">
                    <h3 class='panel-title'>
                        مشخصات بیمه
                    </h3>
                </div>
                <div class='panel-body'>
                    <div class='form-group'>
                        <label for='insuranceTypeSelect'>نوع بیمه</label>
                        <select name="insurance_type" id='insuranceTypeSelect' class='form-control chosen-select'>
                            <option value="" selected></option>
                            {% for t in insurance_types %}
                                <option value="{{ t }}">{{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='insuranceCategorySelect'>گونه‌ی بیمه</label>
                        <select name="insurance_category" id="insuranceCategorySelect" class="form-control chosen-select">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="insuranceHasComplementaryCheckbox">بیمه‌ی تکمیلی</label>
                        <input type="checkbox" name="insurance_has_complementary"
                               id="insuranceHasComplementaryCheckbox" class="form-group"/>
                    </div>
                    <div class="form-group">
                        <label for="insuranceComplementarySelect">نام بیمه‌ی تکمیلی</label>
                        <select name="insurance_complementary" id="insuranceComplementarySelect"
                                class="form-control chosen-select">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="insuranceSerialInput">سریال دفترچه</label>
                        <input type="text" name="insurance_serial" class="form-control"
                               id="insuranceSerialInput"/>
                    </div>
                    <div class="form-group">
                        <label for="insurancePageInput">شماره‌ی صفحه</label>
                        <input type="text" name="insurance_page" class="form-control"
                               id="insurancePageInput" />
                    </div>
                </div>

            </div>
            <div class='col-md-3 form-part panel panel-danger'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>
                        پزشک معالج
                    </h3>
                </div>
                <div class='panel-body'>
                    <div class="form-group">
                        <label for="therapistMedicalNumberInput">شماره‌ی نظام‌پزشکی</label>
                        <input name="therapist_medical_number" type="number" class="form-control"
                               id="therapistMedicalNumberInput"/>
                    </div>
                    <div class='form-group'>
                        <label for='therapistFirstNameInput'>نام</label>
                        <input name="therapist_first_name" type='text' class='form-control'
                               id='therapistFirstNameInput'/>
                    </div>
                    <div class='form-group'>
                        <label for='therapistLastNameInput'>نام خانوادگی</label>
                        <input name="therapist_last_name" type='text' class='form-control'
                               id='therapistLastNameInput'/>
                    </div>
                </div>
            </div>
            <div class='col-md-3 form-part panel panel-success'>
                <div class="panel-heading">
                    <h3 class='panel-title'>
                        خدمت
                    </h3>
                </div>
                <div class='panel-body'>
                    <div class='form-group'>
                        <label for='operationTypeSelect'>نوع خدمت</label>
                        <select name="operation_type" id='operationTypeSelect' class='form-control chosen-select'>
                            <option value="" selected></option>
                            {% for t in operation_types %}
                                <option value="{{ t }}">{{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='operationCodeographySelect'>گونه‌ی بیمه</label>
                        <select name="operation_codeography" class="form-control chosen-select"
                                id="operationCodeographySelect">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="operationClothCheckbox"> لباس نیاز دارد</label>
                        <input type="checkbox" name="operation_cloth"
                               id="operationClothCheckbox"/>
                    </div>
                </div>

            </div>
        </div>
        <input type='submit' class='btn btn-primary btn-lg center-block' value="ثبت اطلاعات">
    </form>
    <div id="registerPatientModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ثبت بیمار جدید</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.register_patient' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="registerPatientFirstNameInput">نام</label>
                                <input type="text" name="first_name" class="form-control"
                                        id="registerPatientFirstNameInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerPatientLastNameInput">نام خانوادگی</label>
                                <input type="text" name="last_name" class="form-control"
                                        id="registerPatientLastNameInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerPatientNationalCode">شماره‌ی ملی</label>
                                <input type="text" name="national_code" class="form-control"
                                       id="registerPatientNationalCode"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="registerPatientSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="registerInsuranceModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ثبت بیمه جدید</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.register_insurance' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="registerInsuranceTypeInput">نوع بیمه</label>
                                <input type="text" name="type" class="form-control"
                                        id="registerInsuranceTypeInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerInsuranceCategoryInput"> دسته بیمه</label>
                                <input type="text" name="category" class="form-control"
                                        id="registerInsuranceCategoryInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerInsurancePortionInput">سهم بیمه</label>
                                <input type="text" name="portion" class="form-control"
                                       id="registerInsurancePortionInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerInsuranceHasComplementaryInput">بیمه تکمیلی</label>
                                <input type="checkbox" name="has_complementary" class="form-control"
                                       id="registerInsuranceHasComplementaryInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerInsuranceComlementaryInput">نام بیمه تکمیلی</label>
                                <input type="text" name="complementary" class="form-control"
                                       id="registerInsuranceComplementaryInput"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="registerInsuranceSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
       </div>
    <div id="registerTherapistModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ثبت پزشک معالج جدید</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.register_therapist' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="registerTherapistFirstNameInput">نام</label>
                                <input type="text" name="first_name" class="form-control"
                                        id="registerTherapistFirstNameInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerTherapistLastNameInput">نام خانوادگی</label>
                                <input type="text" name="last_name" class="form-control"
                                        id="registerTherapistLastNameInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerTherapistMedicalNumberInput">شماره نظام پزشکی</label>
                                <input type="text" name="medical_number" class="form-control"
                                       id="registerTherapistMedicalNumber"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="registerTherapistSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="registerOperationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ثبت خدمت جدید</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.register_operation' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="registerOperationTypeInput">نوع</label>
                                <input type="text" name="type" class="form-control"
                                        id="registerOperationTypeInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerOperationCodeographyInput">کدگرافی</label>
                                <input type="text" name="codeography" class="form-control"
                                        id="registerOperationCodeographyInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerOperationFee">قیمت</label>
                                <input type="text" name="fee" class="form-control"
                                       id="registerOperationFee"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="registerOperationSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerPatientModal">ثبت بیمار</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerInsuranceModal">ثبت بیمه</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerTherapistModal">ثبت پزشک معالج</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#registerOperationModal">ثبت خدمت </button>
   </div>
{% endblock %}