{% extends 'printable_base.html' %}

{% block title %}
چاپ فاکتور
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/show_factor.css"/>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/show_factor.js"></script>
{% endblock %}

{% block content %}
<div class="panel panel-info">
	<div class="panel-heading">
		مشخصات بیمار
	</div>
<table class="table">
	<tr>
		<td>نام بیمار</td>	
		<td>{{factors.0.patient_first_name}} {{factors.0.patient_last_name}}</td>
	</tr>
	<tr>
		<td>کد ملی بیمار</td>
		<td>{{factors.0.patient_national_code}}</td>
	</tr>
	<tr>
		<td>پزشک معالج</td>
		<td>{{factors.0.therapist_first_name}} {{factors.0.therapist_last_name}}</td>
	</tr>
	<tr>
		<td>بیمه</td>
		<td>{{factors.0.insurance_type}} - {{factors.0.insurance_category}}</td>
	</tr>
	{%if factors.0.insurance_has_complementary%}
	<tr>
		<td>بیمه تکمیلی</td>
		<td>{{factors.0.insurance_complementary}}</td>
	</tr>
	{%endif%}
	<tr>
		<td>سریال دفترچه</td>
		<td>{{factors.0.insurance_serial}}</td>
	</tr>
	<tr>
		<td>شماره صفحه دفترچه</td>
		<td>{{factors.0.insurance_page}}</td>
	</tr>
</table>
</div>
<div class = "panel panel-info">
	<div class="panel-heading">
		خدمات انجام شده
	</div>
<table class="table">
		<tr>
		<th>نوع خدمت</th>
		<th>مبلغ قابل پرداخت(تومان)</th>
	</tr>
{% for factor in factors%}

	<input hidden="hidden" class="factorId" value="{{factor.id}}"/>
	<tr>
		<td>{{factor.operation_type}} - {{factor.operation_name}}</td>
		<td>{{factor.patient_payable|floatformat:0 }}</td>
	</tr>
{% endfor%}

</table>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		مشخصاتِ پرداخت
	</div>
	<table class="table">
		<tr>
			<td>
				مبلغ کل
			</td>
			<td>
				<input type="text" id="totalPayable" value="{{total_patient_payable|floatformat:0}}" class="form-control" disabled="disabled"/>
			</td>
		</tr>
		<tr>
			<td>
				مبلغ کل با تخفیف
			</td>
			<td>
				<input type="text" id="totalPayableWithDiscount" readonly="readonly" class="form-control"/>
			</td>
		</tr>
		<tr>
			<td>
				تخفیف
			</td>
			<td>
				<input type="text" id="discount" class="form-control"/>
			</td>
		</tr>
		<tr>
			<td>
				توضیحات
			</td>
			<td>
				<input type="text" id="comment" class="form-control"/>
			</td>
		</tr>
		<tr>
			<td>
				مبلغ پرداختی
			</td>
			<td>
				<input type="text" id="finalPayable" class="form-control"/>
			</td>
		</tr>
		<tr>
			<td>
				مبلغ بدهی
			</td>
			<td>
				<input type="text" id="debt" class="form-control" disabled="disabled"/>
			</td>
		</tr>
	</table>
	
</div>
<!--{% for factor in factors %}
<div id="payFactorModal{{factor.id}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title">پرداخت فاکتور</h4>
				<div class="modal-body">
					<form action="{% url 'Radiology.views.ajax_patient_pay_partial_factor' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input type="number" name="id" value="{{factor.id}}" hidden="hidden"/>
							<label for="payFactorTotalInput">مبلغ کل</label>
							<input type="number" name="total_fee" class="form-control"
							id="payFactorTotalInput" readonly="readonly" value="{{ factor.total_fee }}"/>
						</div>
						<div class="form-group">
							<label for="payFactorDebtInput">مبلغ بدهی</label>
							<input type="number" name="debt_amount" class="form-control"
							id="payFactorDebtInput" readonly="readonly" value="{{factor.patient_debt_amount}}"/>
						</div>
						<div class="form-group">
							<label for="payFactorPayAmountInput">مبلغ پرداختی</label>
							<input type="number" name="pay_amount" class="form-control"
							id="payFactorPayAmountInput"/>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="payFactorSubmit">
							پرداخت فاکتور
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							بازگشت
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}-->

<hr class="no-printable"/>
<div class="no-printable factor_buttons">
	<button type="button" id="print" class="btn btn-default">
		چاپ
	</button>
	<!--<a href="{% url 'Radiology.views.reception' %}" class="btn btn-default">افزودن به بدهکاری</a> -->
	<button id="factorPaid" data-id="{{ factor.id }}" class="btn btn-primary"
	pay-url="{% url 'Radiology.views.ajax_patient_pay_factor' %}"
	discount_url="{% url 'Radiology.views.ajax_add_discount_to_factors' %}">
		پرداخت و چاپ
	</button>
	<a href="{% url 'Radiology.views.reception' %}" id="return" class="btn btn-primary hide">بازگشت</a>
</div>
{%endblock%}
