{% extends 'base.html' %}

{% block title %}
مشاهده موجودی انبار
{% endblock %}

{% block extrajs%}
<script type="text/javascript" src="{{ MEDIA_URL }}js/storing.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
        <h2 class="form-signin-heading">لطفا نام کالا را انتخاب کنید</h2>
      <div class="form-group">
        <select name="good_id" id="goodIdSelect" class="form-control" placeholder="نام کالا" required autofocus>
        	<option value=""> </option>
        	{%for g in goods%}
        	<option value="{{g.id}}">{{g.name}}</option>
        	{%endfor%}
        </select>
</div>
      <div class="form-group">
        <label for="goodFee" class="label label-primary">قیمت محصول</label>
        <input type="text" class="form-control" readonly id="goodFee" />
          </div>
      <div class="form-group">
        <label for="goodQuantity" class="label label-primary">موجودی در انبار</label>
        <input type="text" class="form-control" readonly id="goodQuantity" />
       </div>
      <a href="{% url "Radiology.views.reception" %}" class="btn btn-default">بازگشت</a>
      <button type="button" id="goodEditButton" class="btn btn-primary float-left" data-toggle="modal" data-target="#editGoodModal" disabled="disabled">
      	ویرایش کالا
      	</button>
      <button type="button" id="registerGoodButton" class="btn btn-primary float-left" data-toggle="modal" data-target="#registerGoodModal">
      	ثبت کالای جدید
      </button>
      <button type="button" id="addGoodToStoreButton" class="btn btn-primary float-left" data-toggle="modal" data-target="#addGoodToStoreModal" disabled="disabled">
      	افزودن به موجودی انبار
      </button>
      <a href="{% url "Radiology.views.storing_detailed" %}"><button type="button" id="storingDetailedButton" class="btn btn-primary float-left" disabled="disabled">
      	جزییات جنس
      </button></a>
      </div>
      <div id="registerGoodModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ثبت کالای جدید</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.register_good' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="registerGoodNameInput">نام</label>
                                <input type="text" name="name" class="form-control"
                                        id="registerGoodNameInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerGoodFeeInput">قیمت</label>
                                <input type="text" name="fee" class="form-control"
                                        id="registerGoodFeeInput"/>
                            </div>
                            <div class="form-group">
                                <label for="registerGoodQuantityInput">موجودی</label>
                                <input type="text" name="quantity" class="form-control"
                                        id="registerGoodQuantityInput"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="registerGoodSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addGoodToStoreModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">افزودن به انبار</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.add_good_to_store' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="addGoodToStoreNameInput">نام</label>
                                <input type="text" name="name" class="form-control"
                                        id="addGoodToStoreNameInput" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="addGoodToStoreQuantityInput">تعداد</label>
                                <input type="text" name="quantity" class="form-control"
                                        id="addGoodToStoreQuantityInput"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="addGoodToStoreSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="editGoodModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ویرایش کالا</h4>
                    <div class="modal-body">
                        <form action="{% url 'Radiology.views.ajax_edit_good' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="editGoodNameInput">نام</label>
                                <input type="text" name="name" class="form-control"
                                        id="editGoodNameInput" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="editGoodFeeInput">قیمت</label>
                                <input type="text" name="fee" class="form-control"
                                        id="editGoodFeeInput"/>
                            </div>
                            <div class="form-group">
                                <label for="editGoodQuantityInput">موجودی</label>
                                <input type="text" name="quantity" class="form-control"
                                        id="editGoodQuantityInput"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="editGoodSubmit">ثبت</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">بازگشت</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<table class="table table-hover table-condensed table-bordered">
   	 <thead>
   	 <tr>
   	     <th>نام جنس</th>
   	     <th>قیمت</th>
   	     <th>تعداد</th>
  	  </tr>
  	  </thead>
  	  <tbody id="good_list">
  	      {% for g in goods %}
  	      <tr>
  	      <td>{{ g.name }}</td>
  	      <td>{{ g.fee }}</td>
  	      <td>{{ g.quantity }}</td>
  	      {% endfor %}
  	  </tbody>
	</table>
{% endblock %}
