{% extends 'base.html' %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/waiting_list.js"></script>
{% endblock %}

{% block content %}
<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>شماره‌ی ملی</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="patient_list">
        {% for p in turns %}
        <tr>
        <td>{{ p.patient.first_name }}</td>
        <td>{{ p.patient.last_name }}</td>
        <td>{{ p.patient.national_code }}</td>
        {% if user.usertype.operation == MRI_OPERATION %}
            {% url "Radiology.views.fill_medical_history" as u %}
        {% else %}
            {% url "Radiology.views.write_response" as u %}
        {% endif %}
        <td><a href="{% url "Radiology.views.session_patient" p.id u %}"
                 class="btn btn-default btn-block">ثبت ورود</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/html" id="row-template">
<tr>
<td>###first_name###</td>
<td>###last_name###</td>
<td>###national_code###</td>
<td><a href="###url###"
         class="btn btn-default btn-block">ثبت ورود</a></td>
</tr>
</script>
{% endblock %}